#tableOrders {
    word-break: break-all;
    margin-right: 5%;
    margin-left: 5%;
  }
  
#car{
  margin-left: 5%;
}

#labelCard{
  margin-left: 5%;
}

#bAdd{
  margin-right: 5%;
}

#buttontomar{
  margin-left: 1%;
  margin-right: 1%;
}

#buttonsmodal{
  margin-top: 2%;
  margin-left: 55%;
}