#tableOrders {
  margin-left: 5%;
  margin-right: 5%;
  word-break: break-all;
}

#car {
  margin-left: 5%;
}

#labelCard {
  margin-left: 5%;
}

#bAdd {
  margin-right: 5%;
}

#buttontomar {
  margin-left: 1%;
  margin-right: 1%;
}

#buttonsmodal {
  margin-left: 55%;
  margin-top: 2%;
}
